<!DOCTYPE html>
<html>
    <head>
        <title>Project</title>
        <meta charset="utf-8">
    </head>
    <body>
        {{> header}}
        <p>Proejct Page Text would go here</p>
        {{> footer}}
    </body>
</html>